body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #84c1fb;
}

h1 {
    text-align: center;
    color:#f0f8ff;
}

header {
    background-color: #84c1fb;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.buttons {
    text-align: center;
}

button {
    text-align: center;
    color: #494949;
    background-color: #f0f8ff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    
}

.content {
    margin-top: 80px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 30px;
}

#result {
    padding: 30px;
}
